/* OVERRIDING */

.root {
    -fx-accent: #1e88e5;
    -fx-focus-color: #1e88e5;
    -fx-default-button: #1e88e5;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

/* CUSTOM STYLECLASSES */

.navigation-pane {
    -fx-padding: 10 10 10 10;
}

.display-label {
    -fx-font-size: 13pt;
}

.default-button {
    -fx-background-color: #1e88e5;
    -fx-text-fill: #fafafa;
}

.default-button:hover {
    -fx-background-color: #6ab7ff;
}

.default-button:pressed {
    -fx-background-color: #005cb2;
}

.search-textfield {
    -fx-background-image: url('../image/field_search_inactive.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-padding: 5 8 5 24;
}

.search-textfield:focused {
    -fx-background-image: url('../image/field_search_active.png');
}

.borderless-titledpane > *.content {
    -fx-border-color: transparent;
}