.root {
    -fx-accent: #009688;
    -fx-focus-color: #009688;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.main-tabpane > .tab-header-area > .headers-region > .tab {
    -fx-padding: 5 20 5 20;
}

.main-tabpane > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0;
}

.search-textfield {
  -fx-background-image: url('../image/text_search_inactive.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: left center;
  -fx-padding: 5 8 5 24;
}

.search-textfield:focused {
  -fx-background-image: url('../image/text_search_active.png');
}

.file-textfield {
  -fx-background-image: url('../image/text_file_inactive.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: left center;
  -fx-padding: 5 8 5 24;
}

.file-textfield:focused {
  -fx-background-image: url('../image/text_file_active.png');
}