.text-field {
  -fx-background-image: url('../image/text_file_inactive.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: left center;
  -fx-padding: 5px 8px 5px 24px;
}

.text-field:focused {
  -fx-background-image: url('../image/text_file_active.png');
}