.button {
    -fx-content-display: top;
    -fx-font-size: 8pt;
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: #B2DFDB;
}

.button:pressed {
    -fx-background-color: #4DB6AC;
}