<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hendraanggrian.openpss">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".OpenPssApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="OpenPSS"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenPss"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity" />
    </application>
</manifest>