/** FONT */

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Medium";
    src: url("../font/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto Light";
    src: url("../font/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto Bold";
    src: url("../font/Roboto-Bold.ttf");
}

/* GLOBAL */

* {
    -accent: #1e88e5;
    -accent-light: #6ab7ff;
    -accent-dark: #005cb2;

    -dark: rgba(0.0, 0.0, 0.0, 0.54);
}

/* OVERRIDING */

.root {
    -fx-accent: -accent;
    -fx-focus-color: -accent;
    -fx-default-button: -accent;
}

.pagination {
    -fx-page-information-alignment: right;
    -fx-padding: 0 0 5 0;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.label {
    -fx-font-family: "Roboto";
}

/* OVERRIDING JFOENIX */

.jfx-button .jfx-rippler {
    -jfx-rippler-fill: -accent;
}

.jfx-check-box {
    -jfx-checked-color: -accent;
}

.jfx-combo-box {
    -jfx-focus-color: -accent;
}

.jfx-date-picker {
    -jfx-default-color: -accent;
}

.jfx-dialog-overlay-pane {
    -fx-background-color: -dark;
}

.jfx-drawer-overlay-pane {
    -fx-background-color: -dark;
}

.jfx-hamburger {
    -fx-cursor: hand;
}
.jfx-hamburger StackPane {
    -fx-pref-height: 2;
    -fx-background-color: -accent;
    -fx-background-radius: 5;
}

.jfx-radio-button {
    -jfx-selected-color: -accent;
}

.jfx-snackbar-content {
    -fx-background-color: #323232;
}
.jfx-snackbar-toast {
    -fx-text-fill: white;
}
.jfx-snackbar-action {
    -fx-text-fill: -accent;
}

.jfx-spinner .arc {
    -fx-stroke: -accent;
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: -accent;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: transparent;
}
.jfx-tab-pane .tab-selected-line {
    -fx-background-color: -accent;
}
.jfx-tab-pane .tab {
    -fx-padding: 8;
}
.jfx-tab-pane .tab .tab-label {
    -fx-text-fill: -fx-text-background-color;
}
.jfx-tab-pane .tab:selected .tab-label {
    -fx-text-fill: -accent;
}

.jfx-text-field, .jfx-text-area, .jfx-password-field {
    -jfx-focus-color: -accent;
    -fx-prompt-text-fill: -dark;
}

.jfx-time-picker {
    -jfx-default-color: -accent;
}

.jfx-toggle-button {
    -jfx-toggle-color: -accent;
}

.jfx-tool-bar {
    -fx-min-height: 50;
    -fx-pref-height: 50;
    -fx-max-height: 50;
    -fx-padding: 0 20 0 20;
}
.jfx-tool-bar HBox {
    -fx-alignment: center;
    -fx-spacing: 20;
}

/* CUSTOM STYLECLASSES */

.button-flat {
    -fx-text-fill: -accent;
}

.button-raised {
    -fx-text-fill: white;
    -fx-background-color: -accent;
}
.button-raised:hover {
    -fx-background-color: -accent-light;
}
.button-raised:pressed {
    -fx-background-color: -accent-dark;
}

.list-view-no-vertical-scrollbar .scroll-bar:vertical {
    -fx-scale-x: 0;
}

.list-view-no-horizontal-scrollbar .scroll-bar:horizontal {
    -fx-scale-x: 0;
}

.tab-pane-hidden {
    -fx-tab-max-height: 0;
    -fx-padding: -7 0 0 0;
}
.tab-pane-hidden > .tab-header-area {
    visibility: hidden;
}

.jfx-tab-pane-small .tab {
    -fx-padding: 2;
}
.jfx-tab-pane-small .tab .tab-label {
    -fx-font-size: 9pt;
}

/* TEXT */

.display {
    -fx-font-size: 13pt;
}

.display2 {
    -fx-font-size: 18pt;
}

.accent {
    -fx-text-fill: -accent;
}

.bold {
    -fx-font-family: "Roboto Bold";
}

.light {
    -fx-font-family: "Roboto Light";
}

/* BACKGROUND */

.borderless {
    -fx-background-color: transparent;
}

.bordered {
    -fx-border-color: #c8c8c8;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

/** DRAWER */

.drawer-item {
    -fx-font-family: "Roboto";
    -fx-font-size: 11pt;
    -fx-graphic-text-gap: 30
}