/* OVERRIDING */

.root {
    -fx-accent: #1e88e5;
    -fx-focus-color: #1e88e5;
    -fx-default-button: #1e88e5;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.jfx-button .jfx-rippler {
    -jfx-rippler-fill: #1e88e5;
}

.jfx-check-box {
    -jfx-checked-color: #1e88e5;
}

.jfx-date-picker {
    -jfx-default-color: #1e88e5;
}

.jfx-hamburger StackPane {
    -fx-background-color: rgba(0, 0, 0, 0.54); // romannurik light color
}

.jfx-password-field {
    -jfx-focus-color: #1e88e5;
    -fx-prompt-text-fill: #797979;
}

.jfx-radio-button .dot {
    -fx-fill: #1e88e5;
}

.jfx-spinner .arc {
    -fx-stroke: #1e88e5;
}

.jfx-tab-pane .tab-header-area {
    -fx-padding: 0 -50 0 50;
}
.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: #1e88e5;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: transparent;
}
.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #1e88e5;
}
.jfx-tab-pane .tab {
    -fx-padding: 8;
}
.jfx-tab-pane .tab .tab-label {
    -fx-text-fill: -fx-text-background-color;
    -fx-font-size: 14;
}
.jfx-tab-pane .tab:selected .tab-label {
    -fx-text-fill: #1e88e5;
}

.jfx-text-field {
    -jfx-focus-color: #1e88e5;
    -fx-prompt-text-fill: #797979;
}

.jfx-time-picker {
    -jfx-default-color: #1e88e5;
}

.jfx-toggle-button {
    -jfx-toggle-color: #1e88e5;
}

/* CUSTOM STYLECLASSES */

.button-flat {
    -fx-text-fill: #1e88e5;
}

.button-raised {
    -fx-text-fill: white;
    -fx-background-color: #1e88e5;
}

.navigation-pane {
    -fx-padding: 10 10 10 10;
}

.bordered-pane {
    -fx-border-color: #c8c8c8;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.display-label {
    -fx-font-size: 13pt;
}

.default-button {
    -fx-background-color: #1e88e5;
    -fx-text-fill: #fafafa;
}
.default-button:hover {
    -fx-background-color: #6ab7ff;
}
.default-button:pressed {
    -fx-background-color: #005cb2;
}

.default-split-menu-button {
    -fx-background-color: #1e88e5;
}
.default-split-menu-button:hover {
    -fx-background-color: #6ab7ff;
}
.default-split-menu-button:pressed {
    -fx-background-color: #005cb2;
}

.default-split-menu-button > .label {
    -fx-background-color: #1e88e5;
    -fx-text-fill: #fafafa;
}
.default-split-menu-button:hover > .label {
    -fx-background-color: #6ab7ff;
}
.default-split-menu-button:pressed > .label {
    -fx-background-color: #005cb2;
}
.default-split-menu-button > .arrow-button {
    -fx-background-color: #1e88e5;
}
.default-split-menu-button:hover > .arrow-button {
    -fx-background-color: #6ab7ff;
}
.default-split-menu-button:pressed > .arrow-button {
    -fx-background-color: #005cb2;
}
.default-split-menu-button > .arrow-button > .arrow {
    -fx-background-color: #fafafa;
}

.search-textfield {
    -fx-background-image: url('../image/field_search_inactive.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-padding: 5 8 5 24;
}
.search-textfield:focused {
    -fx-background-image: url('../image/field_search_active.png');
}

.borderless-titledpane > *.content {
    -fx-border-color: transparent;
}