/* GLOBAL */

* {
    -accent: #1e88e5;
    -accent-light: #6ab7ff;
    -accent-dark: #005cb2;

    -light: fafafa;
    -dark: rgba(0.0, 0.0, 0.0, 0.54);
}

/* OVERRIDING */

.root {
    -fx-accent: -accent;
    -fx-focus-color: -accent;
    -fx-default-button: -accent;
}

.pagination {
    -fx-page-information-alignment: right;
    -fx-padding: 0 0 5 0;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

/* OVERRIDING JFOENIX */

.jfx-button .jfx-rippler {
    -jfx-rippler-fill: -accent;
}

.jfx-check-box {
    -jfx-checked-color: -accent;
}

.jfx-combo-box {
    -jfx-focus-color: -accent;
}

.jfx-date-picker {
    -jfx-default-color: -accent;
}

.jfx-dialog-overlay-pane {
    -fx-background-color: -dark;
}

.jfx-drawer-overlay-pane {
    -fx-background-color: -dark;
}

.jfx-hamburger {
    -fx-cursor: hand;
}
.jfx-hamburger StackPane {
    -fx-pref-height: 2px;
    -fx-background-color: -accent;
    -fx-background-radius: 5px;
}

.jfx-password-field {
    -jfx-focus-color: -accent;
    -fx-prompt-text-fill: -dark;
}

.jfx-radio-button {
    -jfx-selected-color: -accent;
}

.jfx-snackbar-content {
    -fx-background-color: #323232;
}
.jfx-snackbar-toast {
    -fx-text-fill: -light;
}
.jfx-snackbar-action {
    -fx-text-fill: -accent;
}

.jfx-spinner .arc {
    -fx-stroke: -accent;
}

.jfx-tab-pane .tab-header-area {
    -fx-padding: 0 -50 0 50;
}
.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: -accent;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: transparent;
}
.jfx-tab-pane .tab-selected-line {
    -fx-background-color: -accent;
}
.jfx-tab-pane .tab {
    -fx-padding: 8;
}
.jfx-tab-pane .tab .tab-label {
    -fx-text-fill: -fx-text-background-color;
}
.jfx-tab-pane .tab:selected .tab-label {
    -fx-text-fill: -accent;
}

.jfx-text-field {
    -jfx-focus-color: -accent;
    -fx-prompt-text-fill: -dark;
}

.jfx-time-picker {
    -jfx-default-color: -accent;
}

.jfx-toggle-button {
    -jfx-toggle-color: -accent;
}

.jfx-tool-bar {
    -fx-min-height: 50;
    -fx-pref-height: 50;
    -fx-max-height: 50;
    -fx-padding: 0 20 0 20;
}
.jfx-tool-bar HBox {
    -fx-alignment: center;
    -fx-spacing: 20;
}

/* CUSTOM STYLECLASSES */

.button-flat {
    -fx-text-fill: -accent;
}

.button-raised {
    -fx-text-fill: -light;
    -fx-background-color: -accent;
}
.button-raised:hover {
    -fx-background-color: -accent-light;
}
.button-raised:pressed {
    -fx-background-color: -accent-dark;
}

.label-accent {
    -fx-text-fill: -accent;
}

.label-display {
    -fx-font-size: 13pt;
}

.label-display2 {
    -fx-font-size: 13pt;
    -fx-text-fill: -accent;
}

.label-drawer-item {
    -fx-graphic-text-gap: 20
}

.list-view-borderless {
    -fx-background-color: transparent;
}

.tab-pane-hidden {
    -fx-tab-max-height: 0;
    -fx-padding: -7 0 0 0;
}
.tab-pane-hidden > .tab-header-area {
    visibility: hidden;
}