@font-face {
  font-family: 'Roboto';
  src: url('/font/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('/font/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto Light';
  src: url('/font/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('/font/Roboto-Bold.ttf');
}

.display {
  -fx-font-size: 13pt;
}

.display2 {
  -fx-font-size: 18pt;
}

.accent {
  -fx-text-fill: -accent;
}

.bold {
  -fx-font-family: 'Roboto Bold';
}

.light {
  -fx-font-family: 'Roboto Light';
}
