.flat {
    -fx-text-fill: -accent;
}

.raised {
    -fx-text-fill: white;
    -fx-background-color: -accent;
}
.raised:hover {
    -fx-background-color: -accent-light;
}
.raised:pressed {
    -fx-background-color: -accent-dark;
}
