.tab-pane-hidden {
    -fx-tab-max-height: 0;
    -fx-padding: -7 0 0 0;
}
.tab-pane-hidden > .tab-header-area {
    visibility: hidden;
}

.jfx-tab-pane-small .tab {
    -fx-padding: 2;
}
.jfx-tab-pane-small .tab .tab-label {
    -fx-font-size: 9pt;
}
